label.label {
	display: block;
}

#input {
}

.message {
	font-size: 0.875rem;
	color: rgb(196, 197, 199);
}
.message.error {
	color: rgb(245, 64, 64);
}
.message.warn {
	color: rgb(236, 171, 28);
}
.message.success {
	color: rgb(46, 202, 111);
}
