body {
	font-family: Arial, Helvetica, sans-serif;
}

div.inputfield {
	display: flex;
	justify-content: space-between;
	min-width: 7rem;
	width: 9rem;
	padding: 0.5rem;
	/* background-color: rgb(245, 247, 248); */
	border-radius: 0.4rem;

	border: solid 2px rgb(140, 142, 148);
}

.inputfield:focus-within {
	border-color: rgb(200, 130, 250);
	box-shadow: rgba(154, 94, 197, 0.3) 0px 2px 5px;
}

.input-wrapper {
	padding-bottom: 1rem;
}

.input-wrapper > .input-label {
	display: block;
	margin-bottom: 0.4rem;
	margin-left: 0.2rem;
	color: rgb(113, 119, 121);
	font-size: 0.875rem;
}

.input-wrapper > .input-error {
	position: absolute;
	color: red;
	font-size: 0.75rem;
}

.inputfield.datefield.invalid {
	border-color: rgb(247, 61, 61);
}

.inputfield.datefield > span.separator {
	color: rgb(161, 161, 161);
	flex-grow: 0;
}

.inputfield.datefield > span:focus {
	background-color: rgb(116, 54, 160);
	color: white;
}

.inputfield.datefield > span {
	/* background-color: rgb(97, 134, 108); */
	flex-basis: 0;
	text-align: center;
}

.inputfield.datefield > span[aria-label='day'] {
	flex-grow: 2;
}
.inputfield.datefield > span[aria-label='month'] {
	flex-grow: 2;
}
.inputfield.datefield > span[aria-label='year'] {
	flex-grow: 4;
}
